# Logs  
logs  
*.log  
npm-debug.log*  
firebase-debug.log*  
yarn-debug.log*  
yarn-error.log*  
pnpm-debug.log*  
lerna-debug.log*  

# Node.js dependencies  
node_modules/  

# Build files  
dist/  
dist-ssr/  

# Environment variables  
*.local  
.env  
.env.local  
.env.development  
.env.test  

# Firebase files  
*.firebaserc  

# Editor directories and files  
.vscode/*  
!.vscode/extensions.json  
.idea  
.DS_Store  
*.suo  
*.ntvs*  
*.njsproj  
*.sln  
*.sw?  

# Temporary and system files  
*.tmp  
Thumbs.db  